#!/usr/bin/env bash

{{ $linux := eq .chezmoi.os "linux" -}}
{{ $mac := eq .chezmoi.os "darwin" -}}

{{ define "install" -}}
  {{ if and (lookPath "brew") (hasKey . "brew") -}}
    brew install {{ .brew }}
  {{ else if and (lookPath "apt") (hasKey . "apt") -}}
    sudo apt install -y {{ .apt }}
  {{ else if and (lookPath "apk") (hasKey . "apk") -}}
    sudo apk add -y {{ .apt }}
  {{ else if (hasKey . "linuxCommand") -}}
    {{ .linuxCommand }}
  {{ else if and (lookPath "cargo") (hasKey . "cargo") -}}
    cargo install {{ .cargo }}
  {{ else -}}
    echo "Couldn't install {{ .name }}"
  {{ end -}}
{{ end -}}

{{ if or $linux $mac -}}
  {{ range .packages.unixLike -}}
    {{ if eq "string" (printf "%T" .) -}}
      {{ template "install" (dict "name" . "brew" . "apt" . "apk" . "cargo" .) }}
    {{ else -}}
      {{ template "install" . }}
    {{ end }}
  {{ end -}}
{{ end -}}

{{ if $mac -}}
brew bundle --file=/dev/stdin <<EOF
  {{- range .packages.macos.brews -}}
brew {{ . | quote }}
  {{- end -}}
{{- if .physical_computer -}}
  {{- range .packages.macos.casks -}}
cask {{ . | quote }}
  {{- end -}}
  {{- range .packages.macos.appstore -}}
mas {{ .name | quote }}, id: {{ .id }}
  {{- end -}}
{{- end -}}
EOF
{{ end -}}