#!/usr/bin/env sh

{{ $linux := eq .chezmoi.os "linux" -}}

{{ define "install" -}}
  {{ if and (lookPath "brew") (hasKey . "brew") -}}
    brew install {{ .brew }}
  {{ else if and (lookPath "apt") (hasKey . "apt") -}}
    sudo apt install -y {{ .apt }}
  {{ else if and (lookPath "apk") (hasKey . "apk") -}}
    sudo apk add -y {{ .apt }}
  {{ else if (hasKey . "linuxCommand") -}}
    {{ .linuxCommand }}
  {{ else if and (lookPath "cargo") (hasKey . "cargo") -}}
    command -v {{ .name }} 2>&1 >/dev/null || cargo install {{ .cargo }}
  {{ else -}}
    echo "Couldn't install {{ .name }}"
  {{ end -}}
{{ end -}}

{{ if $linux -}}
  {{ range .packages.unixLike -}}
    {{ if eq "string" (printf "%T" .) -}}
      {{ template "install" (dict "name" . "brew" . "apt" . "apk" . "cargo" .) }}
    {{ else -}}
      {{ template "install" . }}
    {{ end }}
  {{ end -}}
{{ end -}}
