#!/usr/bin/env bash

{{- if lookPath "brew" }}
brew bundle --file=/dev/stdin <<EOF
{{ range .packages.universal -}}
brew {{ . | quote }}
{{ end -}}
{{- if eq .chezmoi.os "darwin" }}
{{ range .packages.mac.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.mac.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range .packages.mac.appstore -}}
mas {{ .name | quote }}, id: {{ .id }}
{{ end -}}
{{ end -}}
EOF

{{- else if lookPath "apt" }}
# Debian/Ubuntu
sudo apt update
sudo apt install -y \
{{ range .packages.universal -}}
  {{ . | quote }} \
{{ end -}}
{{ range .packages.apt -}}
  {{ . | quote }} \
{{ end -}}

{{- else if lookPath "dnf" }}
# Fedora/RHEL
sudo dnf check-update
sudo dnf install -y \
{{ range .packages.universal -}}
  {{ . | quote }} \
{{ end -}}
{{ range .packages.apt -}}
  {{ . | quote }} \
{{ end -}}

{{- else if lookPath "apk" }}
# Alpine
sudo sudo apk update
sudo apk add -y  \
{{ range .packages.universal -}}
  {{ . | quote }} \
{{ end -}}
{{ range .packages.apt -}}
  {{ . | quote }} \
{{ end -}}

{{ else -}}
echo "No package manager found"
exit 1
{{ end -}}
