#!/usr/bin/env bash

{{- if eq .chezmoi.os "darwin" }}
brew bundle --file=/dev/stdin <<EOF
{{ range .packages.universal -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.mac.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.mac.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range .packages.mac.appstore -}}
mas {{ .name | quote }}, id: {{ .id }}
{{ end -}}
EOF
{{ end -}}
