{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

brew_config_path=$HOME/.dotfiles/homebrew
brewfile_path=$brew_config_path/Brewfile

mkdir -p $brew_config_path
cat > $brewfile_path <<EOF
{{ range .packages.unixLike -}}
  {{- if eq "string" (printf "%T" .) -}}
brew {{ . | quote }}
  {{- else if (hasKey . "brew") -}}
brew {{ .brew | quote }}
  {{- end }}
{{ end -}}
{{- range .packages.macos.brews -}}
brew {{ . | quote }}
{{ end -}}
{{- if .physical_computer -}}
{{- range .packages.macos.casks -}}
cask {{ . | quote }}
{{ end -}}
{{- range .packages.macos.appstore -}}
mas {{ .name | quote }}, id: {{ .id }}
{{ end }}
{{- end }}
EOF

brew bundle --file=$brewfile_path
{{ end -}}
