#!/usr/bin/env bash
set -eu

# Re-runs only when the plugin list changes:
# plugins.vim hash: {{ include "dot_vim/plugins.vim.tmpl" | sha256sum }}

command -v vim >/dev/null || exit 0          # skip machines without vim

PLUG="$HOME/.vim/autoload/plug.vim"
[ -f "$PLUG" ] || curl -fLo "$PLUG" --create-dirs https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim

vim -es -u "$HOME/.vimrc" -i NONE \
  -c 'silent! PlugClean!' \
  -c 'silent! PlugInstall --sync' \
  -c 'qall!'
