{{- if lookPath "zsh" }}
#!/usr/bin/env bash

p10k_folder="${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/themes/powerlevel10k"
test -d "$p10k_folder" || \
git clone --depth=1 https://github.com/romkatv/powerlevel10k.git "$p10k_folder"
{{ end -}}
