packages:
  brews:
    - bat # better cat
    - tig
    - tmux
    - eza # better ls
    - tlrc # simpler man pages
    - fd # simpler find
    - curl
    - wget
{{- if eq .chezmoi.os "darwin" }}
    - gpg
    - gawk
    - gh
    - htop
    - asdf
    - nvm
    - pipenv
    - pyenv
    - maven
    - gradle
    - scrcpy
    - act # run github actions locally
    - netlify-cli
    - cookiecutter
    - mas
  casks:
    - 1password@beta
    - 1password-cli
    - android-platform-tools
    - alt-tab
    - windsurf
    - kindle
    - appcleaner
    - audacity
    - bias-fx
    - busycal
    - camo-studio
    - capcut
    - cheatsheet
    - clocker
    - commander-one
    - docker
    - gimp
    - garmin-basecamp
    - garmin-express
    - gather
    - google-chrome
    - google-drive
    - grammarly-desktop
    - guitar-pro
    - hiddenbar
    - inkscape
    - jetbrains-toolbox
    - karabiner-elements
    - lightburn
    - mac-mouse-fix
    - meetingbar
    - mimestream
    - miro
    - nordvpn
    - obsidian
    - raycast
    - reader
    - shottr
    - slack
    - sound-control
    - todoist
    - visual-studio-code
    - warp
    - calibre
    - iterm2
    - excalidrawz
    - logitech-g-hub
    - devpod
    - microsoft-office
    - font-inconsolata
    - font-inconsolata-nerd-font
    - font-fira-code-nerd-font
  appstore:
    - "Amphetamine", id: 937984704
    - "PastePal", id: 1503446680
    - "DigiDoc 4", id: 1370791134
    - "Web eID", id: 1576665083
    - "Numbers", id: 409203825
    - "Grammarly for Safari", id: 1462114288
    - "1Password for Safari", id: 1569813296
    - "AdGuard for Safari", id: 1440147259
{{- else }}
  casks: {}
  appstore: {}
{{- end }}
